.listProducts {
    padding: 0 15px;
    padding-bottom: 30px;

    .listProductsMain {
        .mantine-Grid-inner {
            display: grid !important;
            grid-template-columns: repeat(4, 1fr) !important;

            @media (max-width: 823px) {
                grid-template-columns: repeat(3, 1fr) !important;
            }
        }
    }
}

.list-products__pricing {
    display: flex;
    align-items: flex-end !important;
    margin: 5px 0;
}

.list-products__item-main {
    padding: 5px !important;
}

.list-products__item {
    position: relative;
    padding: 10px !important;
    border-radius: 5px !important;

    .discountTag {
        height: 35px;
        width: 44px;
        position: absolute;
        top: 10px;
        right: 0; // Đặt sát bên phải của sản phẩm
        background-size: 65% 93%;
        background-position: 9px 2px;

        .discountText,
        .newText {
            text-align: center;
            padding: 0 10px;
            padding-top: 2px;

            span {
                font-size: 12px;
                margin: 0 auto;
                color: #fff;
            }
        }
    }
}

.list-products__item:hover {
    border: 1px solid #e1e1e1;
    box-shadow: 0 1px 5px rgba(145, 145, 145, 0.5);
}

.list-products__image-container {
    position: relative;
}

.list-products__image {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s ease;
}

.list-products__image--secondary {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.list-products__item:hover .list-products__image--primary {
    opacity: 0;
}

.list-products__item:hover .list-products__image--secondary {
    opacity: 1;
}

.list-products__actions {
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.3s ease,
        visibility 0.3s ease;
}

.list-products__item:hover .list-products__actions {
    opacity: 1;
    visibility: visible;
}
.list-products__title {
    font-size: 14px;
    font-weight: 600;
}
.list-products__pricing {
    p {
        font-size: 14px;
    }
}
.list-products-slider {
    // position: relative;

    .slick-prev {
        // background-color: rgba(129, 126, 126, 0.26);
        // width: 40px;
        // height: 40px;
        // position: absolute;
        top: 50%;
        // border-top-right-radius: 50%;
        // border-bottom-right-radius: 50%;
        left: 14px; // Điều chỉnh khoảng cách từ bên trái
        transform: translateY(-50%);
        z-index: 2;
        // font-size: 30px; // Giảm kích thước font cho phù hợp hơn
        // color: red; // Màu của nút prev
        cursor: pointer;
        .arrow-icon {
            margin-top: 5px;
        }
        &::before {
            content: none;
        }
    }

    .slick-next {
        position: absolute;
        // background-color: rgba(129, 126, 126, 0.26);
        // width: 40px;
        // height: 40px;
        // border-top-left-radius: 50%;
        // border-bottom-left-radius: 50%;
        top: 50%;
        right: 10px; // Điều chỉnh khoảng cách từ bên phải
        transform: translateY(-50%);
        z-index: 2;
        // font-size: 30px; // Giảm kích thước font cho phù hợp hơn
        // color: red; // Màu của nút next
        cursor: pointer;
        .arrow-icon {
            margin-top: 5px;
            margin-left: 5px;
        }
        &::before {
            content: none;
        }
    }
}
