.imageNotFound {
    max-width: 500px;
    max-height: 500px;
    left: 0;
    @media (max-width: 1186px) {
        margin: 0 auto;
    }
}
.container__heading {
    font-size: 25px !important;
}
.container__button {
    width: 180px !important;
}

.titleTextHeading {
    margin-left: 200px;
    margin-top: 10px;
    @media (max-width: 1186px) {
        margin: 0 auto;
        text-align: center;
        .container__button {
            margin: 0 auto;
        }
    }
}
