.product-detail-main {
    margin: 3px 0;
}
.Breadcrumbs {
    background-color: #f4f4f4;
    padding: 10px 0;
    margin-bottom: 20px;
}
.menu {
    font-size: 14px;
    a {
        text-decoration: none;
        color: #666;
        &:hover {
            color: #000;
        }
    }
}

.product-content {
    display: flex; /* Sử dụng Flexbox để canh các phần */
    gap: 50px; /* Khoảng cách giữa các phần */
}

// Slider ảnh sản phẩm
.imageMain {
    width: 55%;
    .featured-photo {
        margin: 0 auto;
        width: 100% !important;
        object-fit: cover;
        border: 1px solid #4f6f52;
        border-radius: 10px;
    }
    .secondary-slider {
        width: 40%;
        margin: 0 auto;
        .secondary-photo {
            width: 100px;
            height: 100px;
            margin: 0;
        }
        .slick-prev,
        .slick-next {
            display: block !important;
        }
    }
    // css cho slider
    .slick-slider {
        .slick-prev,
        .slick-next {
            z-index: 1;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            background-color: #d8d8d8;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s;
        }
        .slick-prev::before,
        .slick-next::before {
            content: block;
        }
    }
}

.ant-image-preview-img {
    width: 60vw !important;
    object-fit: contain;
}

// mô tả sản phẩm bên phải
.product-interactions {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    .product-rating {
        align-items: center;
        .rating-count {
            font-size: 13px;
        }
    }
    .product-sales {
        font-size: 15px;
    }
}
.product-pricing {
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #eeeeee;
}

.product-attributes {
    padding: 5px 0 10px 0;
    border-bottom: 1px solid #eeeeee;
}
.rightProductTop {
    display: none !important;
}
.rightProductBottom {
    display: block !important;
}
@media (max-width: 1024px) {
    .product-content {
        flex-direction: column;
    }
    .rightProductTop {
        display: block !important;
    }
    .rightProductBottom {
        display: none !important;
    }
    .imageMain {
        width: 98%;
        margin: 0 auto;
        .featured-photo {
            width: 100%;
        }
        .secondary-slider {
            width: 100%;
            margin-top: 10px;
        }
        .secondary-slider {
            width: 40%;
            margin: 0 auto;
            .secondary-photo {
                width: 100px;
                height: 100px;
                margin: 0;
            }
            .slick-prev,
            .slick-next {
                display: block !important;
            }
        }
    }
}
// tabss
.warranty-content ul {
    list-style: none;
    padding-left: 0;

    p {
        font-weight: bold;
        font-size: 13px;
        text-align: justify;
    }

    li {
        margin-bottom: 10px;
        font-size: 13px;
        text-align: justify;
        color: #666161;

        &:before {
            content: "✓";
            font-size: 27px;
            color: green;
            font-weight: bold;
            margin-right: 10px;
        }
    }
}

.shipping-content ul {
    list-style: none;
    padding-left: 0;

    li {
        margin-bottom: 10px;
        font-size: 13px;
        text-align: justify;
        color: #666161;
    }
}

// Phần mô tả Bảo hành với vận chuyển
.product-title-1 {
    height: 100px;
    text-align: center;
    justify-items: center;

    p {
        font-size: 30px;
        font-weight: 600;
    }
}
.product-title-2 {
    text-align: center;
    justify-items: center;

    h2 {
        font-size: 35px;
        margin-bottom: 50px;
        font-weight: 400;
    }

    .container {
        display: flex; // Sử dụng flexbox cho bố cục
        justify-content: space-between; // Đều khoảng cách giữa các phần
        align-items: stretch; // Đảm bảo tất cả các phần đều cao bằng nhau

        .left {
            width: 45%; // 45% chiều rộng cho phần bên trái
            display: flex; // Sử dụng flex để quản lý chiều cao

            img {
                width: 100%; // Chiều rộng 100% cho hình ảnh
                height: auto; // Chiều cao tự động
                object-fit: cover; // Cắt ảnh theo tỷ lệ
                max-height: 100%; // Đảm bảo ảnh không vượt quá chiều cao của phần chứa
            }
        }

        .middle {
            width: 25%; // 25% chiều rộng cho phần giữa
            padding: 0 20px; // Khoảng cách bên trái và bên phải
            display: flex; // Sử dụng flexbox cho phần nội dung
            flex-direction: column; // Sắp xếp theo cột
            justify-content: space-between; // Đều khoảng cách giữa các phần nội dung

            .content {
                margin-bottom: 40px; // Khoảng cách giữa các phần nội dung

                &:first-child {
                    margin-top: auto; // Đặt phần đầu tiên ở trên cùng
                }

                h2 {
                    font-size: 20px; // Giảm kích thước tiêu đề
                    font-weight: bold;
                    padding-top: 50px;
                }

                p {
                    font-size: 14px; // Giảm kích thước văn bản mô tả
                    color: #666; // Màu sắc cho văn bản mô tả
                    margin: 10px 0; // Khoảng cách trên và dưới
                }

                a {
                    font-size: 14px; // Kích thước liên kết
                    font-weight: bold;
                    color: #656262; // Màu sắc cho liên kết
                    text-decoration: none; // Bỏ gạch chân
                    border-bottom: 1px solid #000; // Gạch chân bên dưới
                }
            }
        }

        .right {
            width: 30%; // 30% chiều rộng cho phần bên phải
            display: flex; // Sử dụng flex để quản lý chiều cao

            img {
                width: 100%; // Chiều rộng 100% cho hình ảnh
                height: auto; // Chiều cao tự động
                object-fit: cover; // Cắt ảnh theo tỷ lệ
                max-height: 100%; // Đảm bảo ảnh không vượt quá chiều cao của phần chứa
            }
        }
    }

    .design-examples {
        display: flex;
        justify-content: space-between; // Căn đều giữa các phần tử
        align-items: center; // Căn giữa theo chiều dọc
        margin: 20px auto;
        max-width: 1200px;
        padding: 30px; // Padding cho toàn bộ container

        .design-example {
            display: flex;
            flex: 1; // Chiếm đều chiều rộng
            margin: 0 10px; // Khoảng cách giữa các phần tử

            &.design-example-1 {
                .image-container {
                    flex: 0 0 60%; // Chiếm 60% chiều rộng
                    min-height: 100%; // Chiều cao tối thiểu
                    img {
                        width: 100%;
                        height: auto;
                        object-fit: cover; // Cắt ảnh theo tỷ lệ
                        max-height: 100%; // Đảm bảo chiều cao ảnh đầy đủ
                        height: 100%; // Đặt chiều cao 100% cho ảnh
                    }
                }

                .content-container {
                    flex: 0 0 40%; // Chiếm 40% chiều rộng
                    padding: 20px; // Padding bên trong
                    text-align: left;
                    text-align: justify;
                    margin-right: 50px;

                    h3 {
                        font-size: 20px; // Giảm kích thước chữ một chút
                        font-weight: bold;
                        margin-bottom: 10px;
                    }

                    p {
                        margin-bottom: 10px;
                        font-size: 14px;
                    }

                    .read-more {
                        text-decoration: none;
                        color: #656262;
                        font-weight: bold;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            &.design-example-2 {
                flex-direction: column; // Đặt theo cột cho cụm này

                .image-container {
                    width: 100%; // Ảnh full width
                    img {
                        width: 100%;
                        height: auto;
                        object-fit: cover; // Cắt ảnh theo tỷ lệ
                    }
                }

                .content-container {
                    text-align: left; // Căn giữa nội dung
                    text-align: justify;
                    padding: 20px; // Padding bên trong

                    h3 {
                        font-size: 22px;
                        font-weight: bold;
                        margin-bottom: 10px;
                    }

                    p {
                        margin-bottom: 10px;
                        font-size: 14px;
                    }

                    .read-more {
                        text-decoration: none;
                        color: #656262;
                        font-weight: bold;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}
.dotCheck {
    content: "✓";
    position: absolute;
    right: 0;
    bottom: -1px;
    background-color: #ef683a;
    border-radius: 100% 0 0 0;
}
.input-quantity {
    .mantine-Input-input {
        padding-left: 25px;
    }
}
