.checkoutForm {
    .checkoutMain {
        display: flex;
        flex-direction: row;
        .leftCheckout {
            flex-basis: 58.33%;
            padding: 0 15px;
        }
        .rightCheckout {
            flex-basis: 41.67%;
        }
    }
}
@media (max-width: 768px) {
    .checkoutForm {
        .checkoutMain {
            flex-direction: column !important;
            .leftCheckout {
                flex-basis: 100%;
                padding: 0;
            }
            .rightCheckout {
                margin-top: 10px;
                flex-basis: 100%;
            }
        }
    }
}
.textDescription {
    height: 150px;
}

.mantine-Textarea-input {
    height: 100px !important;
}

.submitButton {
    width: 100%;
    .mantine-Button-root {
        width: 100% !important;
    }
}
.productDetails {
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    padding: 15px 0;
    .imgwp {
        padding: 4px 10px;
        box-sizing: border-box;
        border: 1px solid transparent;
        transition: border 0.3s ease;
        img {
            transition: transform 0.3s ease;
            // opacity: 0.5;
        }
        &:hover {
            border: 1px solid #d1d1d1;
            img {
                transform: translateY(-1px);
                opacity: 1;
            }
        }
    }
}
